@charset "utf-8";


.faixaHeader {
	height:auto;
}

.conteudo {
	height:auto;
	margin-top:25px;
	margin-bottom:25px;
}

.conteudoTexto p {
	font-size:2.4em;
	text-align:justify;
}

.listaDiretrizes {
	font-size:2.4em;
}

.member {
	text-align: center;
}

.member img {
	max-width: 75%;
}

.member blockquote {
	text-align: left;
	font-size: 2.0em;
}

.member p {
	text-align: center;
}

.btn-livre {
	position: absolute;
	left: 45%;
	top: 50%;
}

.faixa-404 {
	width: 100%;
	height: 450px;
	overflow: hidden;
	position: relative;
	background: url("../img/images/bg_404.jpg")no-repeat center;
}

.btn-livre{
	width: 20%;
	max-width: 120px;
	color: white;
	/* margin: 0 auto; */
	position: relative;
	z-index: 100;
	margin-top: -30px;
	/* border: 1px solid red; */
	margin-left: -125px;
}
/*ACESSO*/

.faixaAcesso {
	background:#333333;
	height:60px;
	padding:5px 20px;
}


.faixaAcesso span {
	margin-left:20px;
}

.textoForm {

margin-top:200px;
margin-bottom:100px;

}
.formAcesso {
	background:#dcdcdc;
	height:auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
}

.formAcesso  img {
	margin:0 auto;
	margin-top:20px;
	width:100px;
}

.formAcesso form {
	color:#0080c0;
	font-size:2.4em;
	margin-top:20px;
	margin-left:20px;
	margin-top:30px;
}

.formAcesso input {
	border:2px solid #b6b6b6;
}

.btnAcessar {
 width:82%;
}
.btnAcesso2 {
	text-align:right;
}

.salvaSenha {
	width:82%;
	padding-left:12px;
	font-size:0.9em;
	color:#000;
}

.faixaAcessoFoot {
	background:#333333;
	height:25px;
	bottom:0;
	left:0;
	position:fixed;
	width:100%;
	overflow-x:hidden;
	color:white;
	text-align:center;
	font-size:2.0em;
	padding-top:5px;
}

.faq-exames p {
	font-size: 1.3em;
}

.med-center {
	width:50%;
	margin: 0 auto;
}

.med-center h3, .med-center p {
	text-align: center;
}

.med-center blockquote {
	text-align: left;
	font-size: 1.8em;
}

.borda-blockquote {
	border-color: #337ab7;
}

.f16 {
	font-size: 1.6em;
}

.img-unidade {
	max-width: 80%;
}