
.icon-ok:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-mail-alt:before { content: '\e806'; } /* '' */
.icon-lock-open-alt:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-attach:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-info:before { content: '\e80b'; } /* '' */
.icon-tags:before { content: '\e80c'; } /* '' */
.icon-upload:before { content: '\e80d'; } /* '' */
.icon-download:before { content: '\e80e'; } /* '' */
.icon-trash:before { content: '\e80f'; } /* '' */
.icon-phone:before { content: '\e810'; } /* '' */
.icon-chat:before { content: '\e811'; } /* '' */
.icon-calendar-empty:before { content: '\e812'; } /* '' */
.icon-heartbeat:before { content: '\e813'; } /* '' */
.icon-stethoscope:before { content: '\e814'; } /* '' */
.icon-ambulance:before { content: '\e815'; } /* '' */
.icon-medkit:before { content: '\e816'; } /* '' */
.icon-hospital:before { content: '\e817'; } /* '' */
.icon-globe:before { content: '\e818'; } /* '' */
.icon-pause:before { content: '\e819'; } /* '' */
.icon-stop:before { content: '\e81a'; } /* '' */
.icon-play:before { content: '\e81b'; } /* '' */
.icon-to-end-alt:before { content: '\e81c'; } /* '' */
.icon-to-start-alt:before { content: '\e81d'; } /* '' */
.icon-001:before { content: '\e81e'; } /* '' */
.icon-002:before { content: '\e81f'; } /* '' */
.icon-003:before { content: '\e820'; } /* '' */
.icon-004:before { content: '\e821'; } /* '' */
.icon-005:before { content: '\e822'; } /* '' */
.icon-006:before { content: '\e823'; } /* '' */