/* Rodape */

.rodape-sec {
  background:#337ab7;
  color: white;
}

.rodape {
	height: auto;
	background:#092F87;
  color: white;
}

.box-roda {
  margin-top: 0px;
  font-size: 2.0em;
}

.boxRoda1 {
  border-right: 1px solid rgba(3, 30, 85, 1.0);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.2);
  margin-top: 10px;
}

.boxRoda1:last-child {
  border-right: none;
}

.boxRoda1:first-child {
   box-shadow: 0 0 0 transparent;
   border-right: 1px dotted white;
}

 .boxRoda1:nth-child(2) {
   box-shadow: 0 0 0 transparent;
 }

.box-rodaLista li {

}

.box-rodaLista li a{
  color: white;
  -webkit-transition:0.4s;
  -ms-transition:0.4s;
  -o-transition:0.4s;
  -ms-transition:0.4s;
  text-decoration: none;
}

.box-rodaLista li a:hover {
  background: white;
  color: #337ab7;
  padding: 5px;
  font-weight: 800;
}
