@import "varmix/mixins";
@import "varmix/variaveis";

.principal {
  background-color:$background;
  font-size: 62.5%;
}

.img-center {
	margin: 0 auto;
}


.form-rh {
  @include  size(600px, auto);
  @include center;
  @include border-radius(5px);
  border: 1px solid $azul-claro;
  font-size: 1.4em;
  background-color: $branco;
  padding: 20px;
  label {
    color: $gray;
  }
}
