@charset "utf-8";
/* CSS Document */

/*css EMPRESAS */

.faixaHeader {
	height:auto;
}

.conteudoEmpresa {
	height:auto;
	margin-top:25px;
	margin-bottom:25px;
}

.conteudoEmpresa p {
	font-size:2.8em;
	text-align:justify;
}


.textoProdutos h2, .textoFaq h2 {
	font-size:4.2em;
	width:auto;
	margin-bottom:35px;
	text-align:center;
	color:rgba(0,113,179,1.0);
}

.textoFaq h3 {
	font-size:3.2em;
	color:rgba(0,113,179,1.0);
}

.textoFaq H4 {
	background:rgba(0,113,179,1.0);
	padding:6px;
	font-size:3.6em;
	color:white;
}

.textoFaq li {
	font-size:2.4em;
}

.textoProdutos {
	height:auto;
}

.textoTutoriais h2 {
	background:rgba(0,113,179,1.0);
	padding:5px;
	color:white;
	text-indent:20px;
}

.textoTutoriais p {
	background white;
	padding:10px;
}
	

.prodIcon {
	margin:0 auto;
	width:auto;
}

.prodIconTef {
	background:gray;
	padding:10px 50px;
	margin-bottom:px;
}

.iconesLat {
	text-align:center;
}

.pdvBox1 {
	width:auto;
	height:auto;
	padding:10px;
}

.pdvBox1 img {
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

.pdvBox3 {
	width:auto;
	height:auto;
	padding:10px;
	margin-bottom:45px;
}

.pdvBox3 img {
	float:left;
	margin-right:10px;
	margin-bottom:25px;
}

.winprod {
}

.winprod img {
	margin:0 auto;
	width:auto;
	height:auto;
}

.pdvBox1 p {
}

.modERP p{
	margin-top:50px;
	margin-left:20px;
	
}

.modERP img {
	padding:10px;
}

article button {
	clear:both;
}

/**
  * Definir a largura e centraliza os itens da sanfona
  */
  .accordions{
      width:100%;
      margin:0 auto;
      font-size:3.8em;
	  margin-top:20px;
	  font-weight:normal;
  }
  /**
  * Oculta o input
  */
  .accordion-item input{
  	display:none;
  }

  /**
   * Aqui configura o label
   * que será parte clicável
  **/
  .accordion-item label{
      display:block;
      border:1px solid #0071B3;
      background:#0071B3;
      color: white;
      cursor:pointer;
      -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	  padding: 5px;
	  text-align: center;
  }

  /**
  * Aqui o elemento que vai o conteúdo.
  * Define o height:0, para aplicarmos o efeito
  * colocamos overflow:hidden não mostrar o último item
  * O transition o tipo de efeito que queremos
  */
  .accordion-content{
      height:auto;
      -webkit-transition: height 0.7s ease-in-out;
      -moz-transition: height 0.7s ease-in-out;
      -o-transition: height 0.7s ease-in-out;
      -ms-transition: height 0.7s ease-in-out;
      transition: height 0.7s ease-in-out;
      font-size: 0.8em;
      font-weight: lighter;
      background: white;
      padding:5px 20px;
  }

  .accordion-content p {
  	font-size: 0.9em;
  }
  
  .accordion-content ol {
  }
  .accordion-content li {
	  margin-left:10px;
	  font-weight:normal;
  }
  
  .accordion-content img {
	  margin:0 auto;
	  margin-top:25px;
  }
  
  /**
  * Selecionar o elemento que está precedente
  * do tipo com atributo checked, sendo
  * que o ID comece o accordion
  * E dentro dele, definimos a altura,
  * mostrando o conteúdo
  */

  .winConciliador {
  	background: #31ADF6;
  	color: white;
  	height: 175px;
  	padding-top: 10px;
  	margin-top: 10px;
  }

  .winConciliador h3 {
  	background: none;
  	padding: 0;
  	margin: 0;
  }

  .winConciliadorImg {
  	float: left;
  	display: inline-table;
  }

 .winConciliadorText {
  	float: right;
  }
  


  .segmentos {
  	clear: both;
  	background: #5DC8A8;
  	margin-top: 10px;
  	padding: 10px;
  	color: white;
  	height: 175px;
  }

  .segmentos p {
      float: right;
      width: 65%;
      margin: 0;
      padding: 0;
  }

    .segmentos img {
      float: left;
  }

  .segmentos h3 {
  	background: none;
  	padding: 0;
  	margin: 0;
  	text-align: right;
  }

.conteudoEmpresa:first-child {
	border:1px solid red;
}


.winSuper, .winBares {
-webkit-border-top-right-radius: 50px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius-topright: 50px;
-moz-border-radius-bottomleft: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
padding:20px;
max-width:100%;
max-height:100%;
display:inline;
margin-bottom:20px;
}

.winPadarias, .winPostos {
-webkit-border-top-left-radius: 50px;
-webkit-border-bottom-right-radius: 50px;
-moz-border-radius-topleft: 50px;
-moz-border-radius-bottomright: 50px;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
padding:20px;
max-width:100%;
max-height:100%;
display:inline;
margin-bottom:20px;
}


.winSuper h3, .winPadarias h3, .winBares h3, .winPostos h3 {
	font-size:4.0em;
	line-height:50px;
	text-indent:100px;
	font-weight:bold;
	color:white;
}

.winSuper img, .winPadarias img, winBares img, .winPostos img {
}

.winSuper p, .winPadarias p, .winBares p, .winPostos p {
	clear:both;
	color:white;
	font-size:3.0em;
	text-align:center;
	margin-top:20px;
	padding:20px 0px;
	font-style:italic;
}

/* SERVICOS*/

.winServices {
}

.winServices img {
	margin:0 auto;
	width:auto;
	height:auto;
}

.winServices h3{
	font-size:3.0em;
	font-weight:bold;
	text-align:center;
	color:rgba(0,113,179,1.0);
}

/* SUPORTE TI */

.servTexto h2 {
	color:rgba(0,113,172,1.0);
	text-align:center;
}

.servTexto h2 img {
	margin-right:20px;
	width:auto;
}

.textService {
	background:white;
	padding:5px 20px;
}

.textService ul{
	font-size:2.4em;
	margin-left:50px;
}

/* CLIENTES */

.winClientes+span  {
	background:white;
}

.winClientes  h2{
	text-align:left;
}

.winClientes h3 {
	text-align:center;
	margin-bottom:5px;
}

.listAtuacao {
text-align:center;
margin-right:5px;
}

.listAtuacao p {
	font-size:1.0em;
}

.winCases {
	background:rgba(207,206,207,1.0);
	border:1px solid #acabac;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:20px;
	height:auto;
}

.winCases h3 {
	text-align:left;
	color:rgba(0,113,172,1.0);
}

.winCases img {
	margin-right:30px;
}

.winCases h4 {
	text-align:left;
	font-size:2.8em;
	font-weight:bold;
}

.winCases P {
color:rgba(115,115,115,1.0);
margin-top:15px;
width:auto;
}

.winClientes ul {
	font-size:2.8em;
	list-style:none;
}

.formParcerias {
	font-size:2.4em;
	width:auto;
}

.formParcerias label {
	color:rgba(0,113,172,1.0);
}

.formParcerias legendas {
    color:rgba(0,113,172,1.0)
}

#btnEnviaParceiros{
	background:rgba(0,113,179,1.0);
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* formulario */

.contrato p {
	font-size:1.0em;
}

.contratoPS  {
	overflow:scroll;
	height:350px;
	width:500px;
	background:white;
	padding:5px;
}

.formParcerias {
	font-size:2.4em;
}

.formParcerias label {
	color:#0080c0;
}

.formParcerias legendas {
    color:#0080c0;
}

.dtaAber {
	text-align:left;
	padding-left:0px;
	line-height:32px;
}

.dataCnpj {
}

#dt_abertura_cad {
	text-align:left;
	width:140px;
}

#dt_sit_especial_cad {
	text-align:left;
	width:140px;
}
	

.cnpjData {
	margin-right:0;
}

.btnEnviar {
	background:#0080c0;
}

/* NEWSLETTER */

#btnNews {
	background:#0080c0;
	border:none;
}

#btnNews:hover {
	background:rgb(0,153,204);
	border:none;
	







	








