.menuzord,.menuzord * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.menuzord {
    width: 100%;
    float: left;
    position: relative;
    background: #FFF;
}

.menuzord a {
    -o-transition: color .3s linear,background .3s linear;
    -moz-transition: color .3s linear,background .3s linear;
    -webkit-transition: color .3s linear,background .3s linear;
    transition: color .3s linear,background .3s linear;
}

.menuzord-menu.scrollable>.scrollable-fix {
    display: none;
}

.menuzord-brand {
    margin: 18px 30px 0 0;
    float: left;
    color: #666;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    cursor: pointer;
}

.menuzord-menu {
    margin-top: 0;
    padding: 0;
    float: left;
    list-style: none;
}

.menuzord-menu.menuzord-right {
    float: right;
}

.menuzord-menu>li {
    display: inline-block;
    float: left;
}

.side-adm  a{
    background: #337ab7;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.side-adm  a:hover{
    background: #0A4980;
    padding: 5px;
    color: white;
}

.menuzord-menu>li>a {
    padding: 26px 16px;
    display: inline-block;
    text-decoration: none;
    font-size: 2.0em;
    font-weight: 600;
    color: #888;
    outline: 0;
    line-height: 1.42857143;
    -webkit-tap-highlight-color: transparent;
}

.menuzord-menu>li.active>a,.menuzord-menu>li:hover>a {
    color: #333;
}

.menuzord-menu ul.dropdown,.menuzord-menu ul.dropdown li ul.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 180px;
    white-space: nowrap;
    background: #fff;
    box-shadow:1px 1px 1px #555;
}

.menuzord-menu ul.dropdown li ul.dropdown {
    left: 100%;
}

.menuzord-menu ul.dropdown li {
    clear: both;
    width: 100%;
    border: 0;
    font-size: 12px;
    position: relative;
}

.menuzord-menu ul.dropdown li a {
    width: 100%;
    background: 0 0;
    padding: 10px 25px 10px 22px;
    color: #888;
    text-decoration: none;
    display: inline-block;
    float: left;
    clear: both;
    position: relative;
    outline: 0;
    -o-transition: padding .2s linear;
    -moz-transition: padding .2s linear;
    -webkit-transition: padding .2s linear;
    transition: padding .2s linear;
}

.menuzord .showhide {
    width: 60px;
    height: 46px;
    padding: 13px 0 0;
    display: none;
    float: right;
    text-decoration: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

.menuzord .showhide em {
    width: 20px;
    height: 3px;
    margin: 3.5px 20px 0;
    float: right;
    background: #777;
}

.menuzord.blue .menuzord-menu ul.dropdown li:hover>a,.menuzord.blue .menuzord-menu>li.active>a,.menuzord.blue .menuzord-menu>li:hover>a {
    color: #4A89DC;
    border-top:2px solid #4A89DC;
}

span.indicator {
  display: none;
}
@media (max-width: 768px) {
    span.indicator {
        display: block;
    }
    .menuzord-menu li:last-child {
      background: #337ab7;
    }

    .menuzord-responsive.menuzord {
        padding:0;
    }

    .menuzord-responsive .menuzord-brand {
        margin: 8px 30px 10px 20px;
        font-size: 20px;
        line-height: 1.55;
    }

    .menuzord-responsive .showhide {
        margin: 0;
    }

    .menuzord-responsive .menuzord-menu {
        width: 100%;
        float: left!important
    }

    .menuzord-responsive .menuzord-menu.scrollable {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .menuzord-responsive .menuzord-menu.scrollable>.scrollable-fix {
        display: block;
    }

    .menuzord-responsive .menuzord-menu>li {
        width: 100%;
        display: block;
        position: relative;
    }

    .menuzord-responsive .menuzord-menu>li>a {
        width: 100%;
        padding: 12px 20px;
        display: block;
        border-bottom: solid 1px #f0f0f0;
    }

    .menuzord-responsive .menuzord-menu>li:first-child>a {
        border-top: solid 1px #f0f0f0;
    }

    .menuzord-responsive .menuzord-menu ul.dropdown,.menuzord-responsive .menuzord-menu ul.dropdown li ul.dropdown {
        width: 100%;
        left: 0;
        position: static;
        border: none;
        background: #fff;
        float: left;
    }

    .menuzord-responsive .menuzord-menu ul.dropdown li {
        position: relative;
    }

    .menuzord-responsive .menuzord-menu ul.dropdown li a {
        border-bottom: solid 1px #f0f0f0;
    }

    .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>a {
        padding-left: 40px!important;
    }

    .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>ul.dropdown>li>a {
        padding-left: 60px!important;
    }

    .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>ul.dropdown>li>ul.dropdown>li>a {
        padding-left: 80px!important
    }

    .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li:hover>a {
        padding-left: 50px!important;
    }

    .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>ul.dropdown>li:hover>a {
        padding-left: 70px!important;
    }

    .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>ul.dropdown>li>ul.dropdown>li:hover>a {
        padding-left: 90px!important;
    }

    .menuzord-responsive .menuzord-menu li .indicator {
        width: 60px;
        height: 45px;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 22px;
        text-align: center;
        line-height: 43px;
        border-left: solid 1px #f5f5f5;
    }

    .menuzord-responsive .menuzord-menu li ul.dropdown li .indicator {
        height: 38px;
        right: 0;
        top: 0;
        font-size: 18px;
        line-height: 36px;
    }

    .menuzord-responsive .menuzord-menu>li>.megamenu {
        width: 100%!important;
        left: 0!important;
        position: static;
        border-top: none;
        border-bottom: solid 1px #f0f0f0;
    }


}
